body
{
    background-color: #fefefe;
    color: #000088;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#cabecera
{
<<<<<<< HEAD
    background-color: #552424;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color:#f0f0f0;
=======
    background-color: #3e6947;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color:#dedede;
>>>>>>> cabecera
    margin:0;
    font-weight: bold;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 1em 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 80%;
    padding: 1em;
    text-align: center;
    border: 1px solid #dedede;
    margin-top: 5px;
    margin:0 auto;
    background-color: #f0f0f0;
}

#container{
    font-size: 20px;
}